@font-face {
    font-family: vcr;
    src: url('../fonts/VCR_OSD_MONO_1.001.ttf');
}

:root {
    --light-purple-color: #b057ef;
    --middle-purple-color: #823fbd;
    --dark-purple-color: #5028a3;
    --dark-blue-color: #1d1a7d;
    --light-blue-color: #61ddff;
    --app-height: 100vh;
}
* {
    -webkit-tap-highlight-color: transparent;
}
body {
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    min-height: 100vh;
    min-height: 100dvh;
    /* background: linear-gradient(
        251.35deg,
        var(--light-purple-color) 1.05%,
        var(--dark-blue-color) 101.22%
    ); */
    background-color: var(--dark-blue-color);
    padding: 20px;
    font-family: vcr, monospace;
    color: #fff;
    font-size: 20px;
    text-align: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}
.game {
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    grid-template-columns: 1fr 3fr 1fr;
    /* width: 100%; */
}
.game.desktop {
    grid-template-columns: 1fr;
    width: 60%;
    max-width: 800px;
}
.game.desktop > * {
    grid-area: 1 / 1 / 2 / 2;
}

canvas {
    aspect-ratio: 480 / 360;
    -webkit-mask: url(../img/screen-mask.svg) center/contain no-repeat;
    mask: url(../img/screen-mask.svg) center/contain no-repeat;
}
canvas,
.screen-stroke {
    width: 100%;
    /* max-width: 800px; */
    /* max-height: calc(100vh - 60px);
    max-height: calc(100dvh - 60px); */
    grid-area: 1 / 2 / 2 / 3;
}
.screen-stroke {
    z-index: 1;
    mix-blend-mode: screen;
}
.cross-controller {
    display: grid;
    width: 100%;
    aspect-ratio: 1 / 1;
    place-self: end end;
    margin: 0 10% 10px 0;
}

.cross-controller > input {
    grid-area: 1 / 1 / 2 / 2;
    background-color: transparent;
    width: 45%;
}
.cross-controller__up {
    place-self: start center;
    transform: rotate(90deg);
}
.cross-controller__right {
    place-self: center end;
    transform: rotate(180deg);
}
.cross-controller__down {
    place-self: end center;
    transform: rotate(-90deg);
}
.cross-controller__left {
    place-self: center start;
}

.ab-buttons {
    display: grid;
    width: 100%;
    aspect-ratio: 1 / 0.9;
    place-self: end start;
    margin: 0 0 10px 10%;
}
.ab-buttons > button {
    grid-area: 1 / 1 / 2 / 2;
    width: 50%;
    aspect-ratio: 1 / 1;
    display: grid;
    font-size: 40px;
    color: var(--dark-purple-color);
    background-color: var(--light-purple-color);
    border: solid 4px var(--dark-purple-color);
    align-items: center;
    text-align: center;
    border-radius: 50%;
    padding-bottom: 4px;
}
.ab-buttons > button.pressed {
    background-color: var(--light-blue-color);
    box-shadow: inset 0px 0px 16px var(--middle-purple-color);
}
.a-btn {
    place-self: start start;
}
.b-btn {
    place-self: end end;
}

.desktop-instructions {
    margin-top: 16px;
    width: 60%;
    max-width: 800px;
    align-self: start;
    display: none;
}
.portrait-warning {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .portrait-warning {
        display: grid;
        align-items: center;
        text-align: center;
        background-color: red;
        position: fixed;
        inset: 0;
        z-index: 2;
        padding: 5vw;
    }
}
